<app-top-menu></app-top-menu>

<div id="report-grid" class="p-grid">
    <div class="p-col-3">
        <p-card header="Reportar Policiais" subheader="Policias são mals" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Policial? Bleeeeeh</p>
            <ng-template pTemplate="footer">
                <p-button (click)="onReport('police')" label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Reportar Médicos" subheader="Médicos são mals" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Médicos? Buuuuuuuuuuuuuuuh</p>
            <ng-template pTemplate="footer">
                <p-button (click)="onReport('doctor')" label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="p-col-3">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="Acessar"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
